#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with autoreconf,python3

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_auto_build:
	$(MAKE) rpmdev-spectool.1 HELP2MAN="help2man --no-discard-stderr"
	dh_auto_build
