#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) HELP2MAN="help2man --no-discard-stderr"

override_dh_auto_test:
	# Skip tests that require a full RPM environment

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
